* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    height: 100vh; 
    color: white;
}

#first {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 30px;
}

.user {
    width: 200px;
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform 0.7s ease;
}

.user:hover {
    transform: scale(1.2);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: orangered;
}