
body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
}

.navbar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.12);
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #150861;
}

.nav1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile {
    background-color: #150861;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.input {
    padding: 9px 32px;
    border-radius: 8px;
    border: 1px rgb(224, 217, 217) solid;
}

.navlink {
    text-decoration: none;
    color: #150861;
}

.part1 {
    display: flex;
    gap: 40px;
    padding-left: 100px;
}

.textarea{
    flex: 1;
    justify-content: space-evenly;
}

.imgarea{
flex: 1;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 1px rgb(179, 172, 172);
    border-radius: 20px;
    padding: 6px 16px;
    width: 280px;
    gap: 2px;
}

.hero-title {
    font-size: 79px;
    color: #150861;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 80px;
}

.para {
    font-size: 16px;
    color: #89869b;
}

.main {
    padding: 80px 24px;
    gap: 40px;
}

.buttons {
    font-size: 16px;
    padding: 18px 20px;
    background-color: white;
    border-radius: 9px;
}

#button1 {
    background-color: white;
    border: #85848d 1px solid;
    color: #150861;
    margin-right: 15px;
}

#button1:hover {
    background-color: #e7e7eb;
}

#button2 {
    background-color: #150861;
    border: none;
    color: white;
}

.card {
    background-color: #150861;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 100px;
    margin-right: 110px;
    border-top-right-radius: 150px;
}

.point {
    padding: 32px 30px;
    line-height: 20px;
}

.line {
    margin-top: 50px;
    width: 3px;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.pointhead{
    color: white;
    font-size: 36px;
}

.pointbullet{
    color: white;
    font-size: 16px;
}